.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  align-items: center;
  color: rgb(246, 242, 242);
  padding: 5px;
  font-size: 30px;
  text-align: center;
  font-size: 45px;
}
